{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="container">
    <div class="text-center">
        <h1>Create a Post :</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Titulli i postimit...">
        <label for="">Post</label>
        <textarea class="form-control" name="text" id="" cols="30" rows="10" placeholder="Permbajtja e postimit..."></textarea>
        <br>
        <button class="site-btn">Create the Post</button>
    </form>
</div>
<br> -->
{% endblock %}